@using MusicApp.Models.ViewModels

@model AlbumViewModel

<form method="post">
    <div class="card shadow border-0 mt-4 mb-4">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-dark text-uppercase">@Model.Album.AlbumTitle</h3>
                    <p class="text-dark fw-semibold mb-0">By@* @Model.Album.Artist.ArtistName*@</p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                <div class="row">
                    <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">
                        <img src="@Model.Album.ImageUrl" width="100%" class="rounded" />
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">

                        <div class="row pl-2 my-3">
                            <p class="text-secondary lh-sm">@Html.Raw(Model.Album.Description)</p>
                        </div>

                    </div>

                </div>

                <div>
                    @if (Model.Album.Songs != null)
                    {
                        <h2>Songs List</h2>
                        <table id="tblData" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var song in Model.Album.Songs)
                                {
                                    <tr>
                                        <td>@song.SongTitle</td>
                                        @if (song.Content != null)
                                        {
                                            <td>
                                                <label class="item">
                                                    <audio controls>
                                                        <source src="data:video/mp4;base64,@Convert.ToBase64String(song.Content, 0, song.Content.Length)" type="audio/mpeg" />
                                                        Your browser does not support the audio element
                                                    </audio>
                                                </label>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>

                <div class="row">
                    <div class="col-6 col-md-2 offset-lg-1 pb-1">
                        <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                            <small>Back to home</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>